.App {
  text-align: center;
  height: 80vh;
}

#root {
  background-color: #FFFFF7;
}


.signup-user {
  background-color: #2cccc4;
  height: 50vh;
}

.signup-sitter {
  background-color: #2cccc4;
  height: 50vh;
}